{% load staticfiles %}
<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Mobilny System Obłsugi Studentów PK</title>
		<link href="https://fonts.googleapis.com/css?family=Roboto:300" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="{% static 'main.css' %}">
	</head>

	<body>
		<div id="wrapper">

			<div class="logo_img">
				<img src="{% static 'mosos.png' %}" style="width:150px;height:27px;"/>
			</div>

			<header>
				<h1>Mobilny System Obsługi Studentów</h1>
				<h2>Obsługiwany student</h2>
			</header>

			 <ul>
  <li><a class="active" href="#user">{{ current_user.firstName}} {{ current_user.lastName }}</a></li>
  <li style="float:right"><a href="#about">Wyloguj</a></li>
</ul>

			<section>
				<div class="number">
					<table>
						<tr>{{ num.numberId }}</tr>
					</table>
				</div>

				<div class="table">
					<table>
						<tr>
							<th>Imię i nazwisko</th>
							<th>Nr albumu</th>
						</tr>
						<tr>
							<td>{{ student.firstName}} {{ student.lastName }}</td>
							<td>{{ student.studentId }}</td>
						</tr>
						<tr>
							<th>Kierunek</th>
							<th>Nr grupy</th>
						</tr>
						<tr>
							<td>{{ student.faculty }}</td>
							<td>{{ student.groupId }}</td>
						</tr>
					</table>
				</div>

				<div class="next_button_container">
					<form>
							<button formaction="{% url 'dean_next_number' %}">Następny</button>
					</form>
				</div>

			</section>

		</div>
	</body>
</html>
