header {
	text-align: center;
	font-family: 'Quicksand', sans-serif;
	margin-bottom: 50px;
	color: black;
}

.logo_img img {
	margin-left: 2%;
	margin-top: 1%;
}

body{
    padding-top: 10px;
/*    background-image: url("background31.jpg");*/
	
}

#box{
    
    background: rgba(200, 200, 200);
    border-radius: 4px;
    top:10px;
	font-family: 'Quicksand', sans-serif;
}

h2{
    text-align:center;
    color:#fff;
	font-family: 'Quicksand', sans-serif;
}

.parallax {
    /* The image used */
    background-image: url("background31.jpg");

    /* Set a specific height */
    min-height: 400px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.col-md-12 {
	font-family: 'Roboto', sans-serif;
}

.col-md-12 button {
	font-family: 'Quicksand', sans-serif;
	background-color: #76ACD1;
	border: none;
	width: 200px;
	height: 50px;
	font-size: 20px;
	border-radius: 0;
}

.col-md-12 button:hover {
	background-color: dimgray;
}

.col-md-12 button:focus {
	background-color: dimgray;
}

.col-md-12 button:focus {
	background-color: dimgray;
}

